<suite name="Parallel test suite" >


    <listeners>
        <listener class-name="utils.TestListener"></listener>
    </listeners>


    <test name="Login">
        <groups>
            <run>
                <include name="Smoke"/>
                <include name="Regression"/>
            </run>
        </groups>
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>

    <test name="Create Jira Issue">
        <groups>
            <run>
                <include name="Smoke"/>
                <include name="Regression"/>
            </run>
        </groups>
        <classes>
            <class name="CreateIssueTest"/>
        </classes>
    </test>





</suite>