<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" >
    
    
    <listeners>
        <listener class-name="utils.TestListener"></listener>
    </listeners>
    
    
    <test name="Login">
        <groups>
            <run>
                <include name="Regression"/>
                <exclude name="Smoke"/>
            </run>
        </groups>
        <classes>
            <class name="LoginPageTest"/>
        </classes>
    </test>
</suite>